---
http_interactions:
- request:
    method: post
    uri: http://testco.dev.montagehot.club/api/v1/schemas/movies/documents/
    body:
      encoding: UTF-8
      string: '{"filter":{}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"rating":0,"_meta":{"modified":"2015-04-16T18:03:25.039Z","created":"2015-04-13T20:47:59.812Z"},"votes":0,"studio_id":"0a55fca8-8c17-45eb-9289-aac2e39ca20c","id":"01be4ff5-95a9-48be-9cc5-080da88a8348","title":"The
        Son of Jaws Returns II: Jaws Harder","rank":0,"year":2007,"location":{"$reql_type$":"GEOMETRY","type":"Point","coordinates":[-119.7538694,36.8420233]}},{"rating":8.1,"_meta":{"modified":"2015-03-23T05:27:53.791Z","created":"2015-03-22T20:35:47.791Z"},"votes":692790,"id":"03d988a3-2e5e-4a5c-beb3-6c82eb395d20","rank":185,"year":2012,"title":"The
        Avengers"},{"rating":8.4,"_meta":{"modified":"2015-03-24T12:15:20.791Z","created":"2015-03-23T21:36:25.791Z"},"votes":110946,"id":"047c8ff6-9e96-4f14-916f-3c6d33d5037d","rank":58,"year":1988,"title":"Nuovo
        Cinema Paradiso"},{"rating":8.3,"_meta":{"modified":"201[...]
