---
http_interactions:
- request:
    method: post
    uri: http://testco.dev.montagehot.club/api/v1/schemas/movies/query/
    body:
      encoding: UTF-8
      string: '{"filter":{}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"data":[{"votes":0,"_meta":{"modified":"2015-04-16T18:03:25.039Z","created":"2015-04-13T20:47:59.812Z"},"rating":0,"location":{"coordinates":[-119.7538694,36.8420233],"type":"Point","$reql_type$":"GEOMETRY"},"year":2007,"id":"01be4ff5-95a9-48be-9cc5-080da88a8348","title":"The
        Son of Jaws Returns II: Jaws Harder","rank":0,"studio_id":"0a55fca8-8c17-45eb-9289-aac2e39ca20c"},{"votes":0,"_meta":{"modified":"2015-04-18T06:42:24.520Z","created":"2015-04-18T06:42:24.520Z"},"rating":0,"location":{"coordinates":[-119.7538694,36.8420233],"type":"Point","$reql_type$":"GEOMETRY"},"year":2007,"id":"02ff2ee1-8f9d-4262-87b1-4969b89651bd","title":"The
        Son of Jaws Returns II: Jaws Harder","rank":0},{"votes":692790,"_meta":{"modified":"2015-03-23T05:27:53.791Z","created":"2015-03-22T20:35:47.791Z"},"rating":8.1,"year":2012,"id":"03d9[...]
