---
http_interactions:
- request:
    method: post
    uri: http://testco.dev.montagehot.club/api/v1/schemas/movies/query/
    body:
      encoding: UTF-8
      string: '{"filter":{}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"01be4ff5-95a9-48be-9cc5-080da88a8348","year":2007,"location":{"coordinates":[-119.7538694,36.8420233],"type":"Point","$reql_type$":"GEOMETRY"},"studio_id":"0a55fca8-8c17-45eb-9289-aac2e39ca20c","title":"The
        Son of Jaws Returns II: Jaws Harder","_meta":{"created":"2015-04-13T20:47:59.812Z","modified":"2015-04-16T18:03:25.039Z"},"rank":0,"votes":0,"rating":0},{"id":"02ff2ee1-8f9d-4262-87b1-4969b89651bd","year":2007,"location":{"coordinates":[-119.7538694,36.8420233],"type":"Point","$reql_type$":"GEOMETRY"},"title":"The
        Son of Jaws Returns II: Jaws Harder","_meta":{"created":"2015-04-18T06:42:24.520Z","modified":"2015-04-18T06:42:24.520Z"},"rank":0,"votes":0,"rating":0},{"id":"03d988a3-2e5e-4a5c-beb3-6c82eb395d20","year":2012,"title":"The
        Avengers","_meta":{"created":"2015-03-22T20:35:47.791Z","modified":"2015-03-23T05:27:53.791Z"},[...]
