---
http_interactions:
- request:
    method: post
    uri: http://testco.dev.montagehot.club/api/v1/schemas/actors/save/
    body:
      encoding: UTF-8
      string: '[{"movie_id":null,"name":"Mark Hamill"}]'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - POST, OPTIONS
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"d8332c5b-71a9-423d-8bc8-9d956e7257a4","_meta":{"modified":"2015-04-20T18:39:53.962Z","created":"2015-04-20T18:39:53.962Z"},"movie_id":"","name":"Mark
        Hamill"}]}'
  recorded_at: Mon, 20 Apr 2015 18:39:54 GMT
recorded_with: VCR 2.9.3
