---
http_interactions:
- request:
    method: get
    uri: http://testco.dev.montagehot.club/api/v1/schemas/actors/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"name":"actors","fields":[{"name":"name","datatype":"text","required":true},{"name":"movie_id","datatype":"text","required":false}],"indexes":[],"links":{"query":"http://testco.dev.montagehot.club/api/v1/schemas/actors/documents/","create_document":"http://testco.dev.montagehot.club/api/v1/schemas/actors/documents/create/","self":"http://testco.dev.montagehot.club/api/v1/schemas/actors/"}}'
  recorded_at: Thu, 09 Apr 2015 23:54:45 GMT
- request:
    method: post
    uri: http://testco.dev.montagehot.club/api/v1/schemas/actors/documents/create/
    body:
      encoding: UTF-8
      string: '{"updated_at":null,"name":"Steve Martin","movie_id":"215400e4-1566-4b96-aee0-1d6992ee4223"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"97ea1631-096f-44e8-b6b5-9ec508344fc8","movie_id":"215400e4-1566-4b96-aee0-1d6992ee4223","updated_at":null,"_meta":{"created":"2015-04-09T23:54:45.262Z","modified":"2015-04-09T23:54:45.262Z"},"name":"Steve
        Martin"}}'
  recorded_at: Thu, 09 Apr 2015 23:54:46 GMT
recorded_with: VCR 2.9.3
