---
http_interactions:
- request:
    method: get
    uri: http://testco.dev.montagehot.club/api/v1/schemas/studios/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"name":"studios","fields":[{"name":"name","datatype":"text","indexed":false,"required":true}],"links":{"self":"http://testco.dev.montagehot.club/api/v1/schemas/studios/","query":"http://testco.dev.montagehot.club/api/v1/schemas/studios/query/","create_document":"http://testco.dev.montagehot.club/api/v1/schemas/studios/save/"}}'
  recorded_at: Mon, 20 Apr 2015 18:39:51 GMT
- request:
    method: post
    uri: http://testco.dev.montagehot.club/api/v1/schemas/studios/save/
    body:
      encoding: UTF-8
      string: '[{"name":"Universal"}]'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - POST, OPTIONS
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"54535b2e-cf80-4abb-8bd9-8429e55d173a","_meta":{"modified":"2015-04-20T18:39:51.394Z","created":"2015-04-20T18:39:51.394Z"},"name":"Universal"}]}'
  recorded_at: Mon, 20 Apr 2015 18:39:51 GMT
recorded_with: VCR 2.9.3
