---
http_interactions:
- request:
    method: post
    uri: http://testco.dev.montagehot.club/api/v1/schemas/actors/documents/create/
    body:
      encoding: UTF-8
      string: '{"updated_at":null,"name":"Mark Hamill","movie_id":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"acadb10f-b6a3-49ae-81a9-e882286bf4e0","movie_id":"","updated_at":null,"_meta":{"created":"2015-04-09T23:54:46.221Z","modified":"2015-04-09T23:54:46.221Z"},"name":"Mark
        Hamill"}}'
  recorded_at: Thu, 09 Apr 2015 23:54:47 GMT
recorded_with: VCR 2.9.3
