---
http_interactions:
- request:
    method: get
    uri: http://testco.dev.montagehot.club/api/v1/schemas/studios/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"name":"studios","fields":[{"name":"name","datatype":"text","indexed":false,"required":true}],"links":{"create_document":"http://testco.dev.montagehot.club/api/v1/schemas/studios/save/","self":"http://testco.dev.montagehot.club/api/v1/schemas/studios/","query":"http://testco.dev.montagehot.club/api/v1/schemas/studios/query/"}}'
  recorded_at: Sat, 18 Apr 2015 20:16:57 GMT
- request:
    method: post
    uri: http://testco.dev.montagehot.club/api/v1/schemas/studios/save/
    body:
      encoding: UTF-8
      string: '[{"name":"Universal"}]'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"name":"Universal","_meta":{"created":"2015-04-18T20:16:56.142Z","modified":"2015-04-18T20:16:56.142Z"},"id":"795e2260-503d-4a67-aef3-984640f9dd38"}]}'
  recorded_at: Sat, 18 Apr 2015 20:16:57 GMT
recorded_with: VCR 2.9.3
