---
http_interactions:
- request:
    method: get
    uri: http://testco.dev.montagehot.club/api/v1/schemas/studios/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"name":"studios","fields":[{"name":"name","datatype":"text","required":true}],"indexes":[],"links":{"query":"http://testco.dev.montagehot.club/api/v1/schemas/studios/documents/","self":"http://testco.dev.montagehot.club/api/v1/schemas/studios/","create_document":"http://testco.dev.montagehot.club/api/v1/schemas/studios/documents/create/"}}'
  recorded_at: Fri, 03 Apr 2015 18:50:15 GMT
- request:
    method: post
    uri: http://testco.dev.montagehot.club/api/v1/schemas/studios/documents/create/
    body:
      encoding: UTF-8
      string: '{"updated_at":null,"name":"Universal"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"_meta":{"modified":"2015-04-03T18:50:15.295Z","created":"2015-04-03T18:50:15.295Z"},"name":"Universal","updated_at":null,"id":"19442e09-5c2d-4e5d-8f34-675570e81414"}}'
  recorded_at: Fri, 03 Apr 2015 18:50:15 GMT
recorded_with: VCR 2.9.3
