---
http_interactions:
- request:
    method: post
    uri: http://testco.dev.montagehot.club/api/v1/schemas/actors/documents/
    body:
      encoding: UTF-8
      string: '{"filter":{"movie_id":"215400e4-1566-4b96-aee0-1d6992ee4223"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"name":"Steve Martin","created_at":"2015-04-09T23:54:45.262Z","updated_at":"2015-04-09T23:54:45.262Z","_meta":{"modified":"2015-04-09T23:54:45.262Z","created":"2015-04-09T23:54:45.262Z"},"movie_id":"215400e4-1566-4b96-aee0-1d6992ee4223","id":"97ea1631-096f-44e8-b6b5-9ec508344fc8"}]}'
  recorded_at: Thu, 16 Apr 2015 19:53:37 GMT
- request:
    method: post
    uri: http://testco.dev.montagehot.club/api/v1/schemas/actors/documents/
    body:
      encoding: UTF-8
      string: '{"filter":{"movie_id":"215400e4-1566-4b96-aee0-1d6992ee4223"},"limit":1}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"name":"Steve Martin","created_at":"2015-04-09T23:54:45.262Z","updated_at":"2015-04-09T23:54:45.262Z","_meta":{"modified":"2015-04-09T23:54:45.262Z","created":"2015-04-09T23:54:45.262Z"},"movie_id":"215400e4-1566-4b96-aee0-1d6992ee4223","id":"97ea1631-096f-44e8-b6b5-9ec508344fc8"}]}'
  recorded_at: Thu, 16 Apr 2015 19:53:38 GMT
recorded_with: VCR 2.9.3
