---
http_interactions:
- request:
    method: get
    uri: http://testco.dev.montagehot.club/api/v1/schemas/studios/54535b2e-cf80-4abb-8bd9-8429e55d173a/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"data":{"id":"54535b2e-cf80-4abb-8bd9-8429e55d173a","_meta":{"modified":"2015-04-20T18:39:51.394Z","created":"2015-04-20T18:39:51.394Z"},"name":"Universal"}}'
  recorded_at: Mon, 20 Apr 2015 18:42:49 GMT
recorded_with: VCR 2.9.3
