---
http_interactions:
- request:
    method: post
    uri: http://testco.dev.montagehot.club/api/v1/schemas/actors/documents/
    body:
      encoding: UTF-8
      string: '{"filter":{"movie_id":"215400e4-1566-4b96-aee0-1d6992ee4223"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"data":[{"_meta":{"modified":"2015-04-09T23:54:45.262Z","created":"2015-04-09T23:54:45.262Z"},"name":"Steve
        Martin","updated_at":null,"id":"97ea1631-096f-44e8-b6b5-9ec508344fc8","movie_id":"215400e4-1566-4b96-aee0-1d6992ee4223"}]}'
  recorded_at: Fri, 10 Apr 2015 18:38:58 GMT
- request:
    method: post
    uri: http://testco.dev.montagehot.club/api/v1/schemas/actors/documents/
    body:
      encoding: UTF-8
      string: '{"filter":{"movie_id":"215400e4-1566-4b96-aee0-1d6992ee4223"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"data":[{"_meta":{"modified":"2015-04-09T23:54:45.262Z","created":"2015-04-09T23:54:45.262Z"},"name":"Steve
        Martin","updated_at":null,"id":"97ea1631-096f-44e8-b6b5-9ec508344fc8","movie_id":"215400e4-1566-4b96-aee0-1d6992ee4223"}]}'
  recorded_at: Fri, 10 Apr 2015 18:38:59 GMT
recorded_with: VCR 2.9.3
