---
http_interactions:
- request:
    method: post
    uri: http://testco.dev.montagehot.club/api/v1/schemas/movies/documents/
    body:
      encoding: UTF-8
      string: '{"filter":{"title":"The Jerk"},"limit":1}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"data":[{"rating":2,"votes":500,"id":"215400e4-1566-4b96-aee0-1d6992ee4223","title":"The
        Jerk","year":1984,"rank":4,"studio_id":"19442e09-5c2d-4e5d-8f34-675570e81414","_meta":{"created":"2015-04-02T21:02:01.276Z","modified":"2015-04-02T21:02:01.276Z"},"updated_at":null}]}'
  recorded_at: Thu, 02 Apr 2015 23:59:47 GMT
recorded_with: VCR 2.9.3
