---
http_interactions:
- request:
    method: post
    uri: http://testco.dev.montagehot.club/api/v1/schemas/movies/query/
    body:
      encoding: UTF-8
      string: '{"filter":{"title":"The Jerk"},"limit":1}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"b9dddf21-a121-4481-86e6-6412fca87f3c","year":1984,"studio_id":"19442e09-5c2d-4e5d-8f34-675570e81414","title":"The
        Jerk","_meta":{"created":{"created":"2015-04-18T20:16:52.876Z","modified":"2015-04-18T20:16:52.876Z"},"modified":"2015-04-18T20:16:53.156Z"},"rank":4,"votes":600,"rating":2}]}'
  recorded_at: Sat, 18 Apr 2015 20:16:57 GMT
recorded_with: VCR 2.9.3
