---
http_interactions:
- request:
    method: get
    uri: http://testco.dev.montagehot.club/api/v1/schemas/studios/documents/19442e09-5c2d-4e5d-8f34-675570e81414/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"data":{"name":"Universal","updated_at":null,"_meta":{"modified":"2015-04-03T18:50:15.295Z","created":"2015-04-03T18:50:15.295Z"},"id":"19442e09-5c2d-4e5d-8f34-675570e81414"}}'
  recorded_at: Mon, 06 Apr 2015 22:21:50 GMT
recorded_with: VCR 2.9.3
