---
http_interactions:
- request:
    method: post
    uri: http://testco.dev.montagehot.club/api/v1/schemas/actors/query/
    body:
      encoding: UTF-8
      string: '{"filter":{"movie_id":"b9dddf21-a121-4481-86e6-6412fca87f3c"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"name":"Steve Martin","movie_id":"b9dddf21-a121-4481-86e6-6412fca87f3c","_meta":{"created":"2015-04-18T20:16:54.202Z","modified":"2015-04-18T20:16:54.202Z"},"id":"2716d505-b620-4024-9411-9c2f054821a3"}]}'
  recorded_at: Sat, 18 Apr 2015 20:16:56 GMT
- request:
    method: post
    uri: http://testco.dev.montagehot.club/api/v1/schemas/actors/query/
    body:
      encoding: UTF-8
      string: '{"filter":{"movie_id":"b9dddf21-a121-4481-86e6-6412fca87f3c"},"limit":1}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"name":"Steve Martin","movie_id":"b9dddf21-a121-4481-86e6-6412fca87f3c","_meta":{"created":"2015-04-18T20:16:54.202Z","modified":"2015-04-18T20:16:54.202Z"},"id":"2716d505-b620-4024-9411-9c2f054821a3"}]}'
  recorded_at: Sat, 18 Apr 2015 20:16:56 GMT
recorded_with: VCR 2.9.3
