---
http_interactions:
- request:
    method: post
    uri: http://testco.dev.montagehot.club/api/v1/schemas/actors/query/
    body:
      encoding: UTF-8
      string: '{"filter":{"movie_id":"69cc93af-1f0e-43bc-ac9a-19117111978e"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"2b427e93-4809-425b-a587-e309a4715e8f","_meta":{"modified":"2015-04-20T18:39:53.628Z","created":"2015-04-20T18:39:53.628Z"},"movie_id":"69cc93af-1f0e-43bc-ac9a-19117111978e","name":"Steve
        Martin"}],"cursors":{"previous":null,"next":null}}'
  recorded_at: Mon, 20 Apr 2015 18:39:55 GMT
- request:
    method: post
    uri: http://testco.dev.montagehot.club/api/v1/schemas/actors/query/
    body:
      encoding: UTF-8
      string: '{"filter":{"movie_id":"69cc93af-1f0e-43bc-ac9a-19117111978e"},"limit":1}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"2b427e93-4809-425b-a587-e309a4715e8f","_meta":{"modified":"2015-04-20T18:39:53.628Z","created":"2015-04-20T18:39:53.628Z"},"movie_id":"69cc93af-1f0e-43bc-ac9a-19117111978e","name":"Steve
        Martin"}],"cursors":{"previous":null,"next":null}}'
  recorded_at: Mon, 20 Apr 2015 18:39:55 GMT
recorded_with: VCR 2.9.3
