---
http_interactions:
- request:
    method: get
    uri: http://testco.dev.montagehot.club/api/v1/schemas/movies/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"name":"movies","fields":[{"name":"studio_id","datatype":"text","required":true},{"name":"rank","datatype":"integer","required":true},{"name":"rating","datatype":"float","required":true},{"name":"title","datatype":"text","required":true},{"name":"votes","datatype":"integer","required":true},{"name":"year","datatype":"integer","required":true}],"indexes":[],"links":{"query":"http://testco.dev.montagehot.club/api/v1/schemas/movies/documents/","self":"http://testco.dev.montagehot.club/api/v1/schemas/movies/","create_document":"http://testco.dev.montagehot.club/api/v1/schemas/movies/documents/create/"}}'
  recorded_at: Fri, 03 Apr 2015 18:52:25 GMT
recorded_with: VCR 2.9.3
