---
http_interactions:
- request:
    method: get
    uri: http://testco.dev.montagehot.club/api/v1/schemas/movies/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"name":"movies","fields":[{"name":"studio_id","datatype":"text","indexed":false,"required":false},{"name":"rank","datatype":"numeric","indexed":false,"required":true},{"name":"rating","datatype":"numeric","indexed":false,"required":true},{"name":"title","datatype":"text","indexed":false,"required":true},{"name":"votes","datatype":"numeric","indexed":false,"required":true},{"name":"year","datatype":"numeric","indexed":false,"required":true}],"links":{"create_document":"http://testco.dev.montagehot.club/api/v1/schemas/movies/save/","self":"http://testco.dev.montagehot.club/api/v1/schemas/movies/","query":"http://testco.dev.montagehot.club/api/v1/schemas/movies/query/"}}'
  recorded_at: Sat, 18 Apr 2015 20:16:54 GMT
recorded_with: VCR 2.9.3
