---
http_interactions:
- request:
    method: post
    uri: http://testco.dev.montagehot.club/api/v1/schemas/movies/documents/
    body:
      encoding: UTF-8
      string: '{"filter":{"votes__gt":900000}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"data":[{"rating":9.2,"votes":1262930,"id":"54ac2681-6924-4f91-8357-5d7cbfaf8c81","title":"The
        Shawshank Redemption","year":1994,"rank":1,"_meta":{"created":"2015-03-24T13:15:16.791Z","modified":"2015-03-25T01:22:07.791Z"}},{"rating":8.9,"votes":1224954,"id":"462cde00-e4de-4fa0-8d2f-2505839562f9","title":"The
        Dark Knight","year":2008,"rank":4,"_meta":{"created":"2015-03-23T12:38:57.791Z","modified":"2015-03-24T04:37:13.791Z"}},{"rating":8.9,"votes":968331,"id":"77c59a1e-17ed-485c-acde-55813cf69940","title":"Pulp
        Fiction","year":1994,"rank":5,"_meta":{"created":"2015-03-23T00:11:48.791Z","modified":"2015-03-23T02:58:45.791Z"}},{"rating":8.8,"votes":960982,"id":"faf2cb35-d2ef-4603-8ef3-1247272701e1","title":"Fight
        Club","year":1999,"rank":10,"_meta":{"created":"2015-03-22T07:40:35.791Z","modified":"2015-03-22T10:51:14.791Z"}},{"rating":8.8,"votes":925627,"id":"cd9a20db-e2a0-4812-b00a-4f0e09579f62","title":"The
        Lord of the Rings: The Fellowship of the Ring","year":2001,"rank":11,"_meta":{"created":"2015-03-23T12:08:51.791Z","modified":"2015-03-23T16:28:42.791Z"}},{"rating":8.7,"votes":1010644,"id":"6027f7d2-387a-4a55-988a-c66c4e47db6c","title":"Inception","year":2010,"rank":13,"_meta":{"created":"2015-03-22T15:04:30.791Z","modified":"2015-03-23T06:14:37.791Z"}}]}'
  recorded_at: Thu, 02 Apr 2015 21:50:54 GMT
recorded_with: VCR 2.9.3
