---
http_interactions:
- request:
    method: post
    uri: http://testco.dev.montagehot.club/api/v1/schemas/movies/query/
    body:
      encoding: UTF-8
      string: '{"filter":{"votes__gt":900000}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"data":[{"votes":1262930,"_meta":{"modified":"2015-03-25T01:22:07.791Z","created":"2015-03-24T13:15:16.791Z"},"rating":9.2,"year":1994,"id":"54ac2681-6924-4f91-8357-5d7cbfaf8c81","title":"The
        Shawshank Redemption","rank":1},{"votes":1010644,"_meta":{"modified":"2015-03-23T06:14:37.791Z","created":"2015-03-22T15:04:30.791Z"},"rating":8.7,"year":2010,"id":"6027f7d2-387a-4a55-988a-c66c4e47db6c","title":"Inception","rank":13},{"votes":925627,"_meta":{"modified":"2015-03-23T16:28:42.791Z","created":"2015-03-23T12:08:51.791Z"},"rating":8.8,"year":2001,"id":"cd9a20db-e2a0-4812-b00a-4f0e09579f62","title":"The
        Lord of the Rings: The Fellowship of the Ring","rank":11},{"votes":960982,"_meta":{"modified":"2015-03-22T10:51:14.791Z","created":"2015-03-22T07:40:35.791Z"},"rating":8.8,"year":1999,"id":"faf2cb35-d2ef-4603-8ef3-1247272701e1","title":"Fight
        Club","rank":10}],"cursors":{"previous":null,"next":null}}'
  recorded_at: Mon, 20 Apr 2015 20:25:39 GMT
recorded_with: VCR 2.9.3
