---
http_interactions:
- request:
    method: post
    uri: http://testco.dev.montagehot.club/api/v1/schemas/movies/query/
    body:
      encoding: UTF-8
      string: '{"filter":{"title":"The Jerk"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"data":[{"votes":600,"_meta":{"modified":"2015-04-20T18:39:50.095Z","created":{"modified":"2015-04-20T18:39:47.751Z","created":"2015-04-20T18:39:47.751Z"}},"rating":2,"year":1984,"id":"69cc93af-1f0e-43bc-ac9a-19117111978e","title":"The
        Jerk","rank":4,"studio_id":"19442e09-5c2d-4e5d-8f34-675570e81414"}],"cursors":{"previous":null,"next":null}}'
  recorded_at: Mon, 20 Apr 2015 18:39:53 GMT
recorded_with: VCR 2.9.3
