---
http_interactions:
- request:
    method: post
    uri: http://testco.dev.montagehot.club/api/v1/schemas/movies/documents/
    body:
      encoding: UTF-8
      string: '{"filter":{"title":"The Jerk"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"year":1984,"rank":4,"title":"The Jerk","rating":2,"_meta":{"modified":"2015-04-02T21:02:01.276Z","created":"2015-04-02T21:02:01.276Z"},"updated_at":null,"votes":500,"id":"268f6d1c-0a25-4af1-aa14-94158e8bd41b"},{"year":1984,"rank":4,"title":"The
        Jerk","rating":2,"_meta":{"modified":"2015-04-02T21:02:02.127Z","created":"2015-04-02T17:57:50.230Z"},"votes":600,"id":"e42b2334-2b5b-4dc1-8ef8-0026963fa194"}]}'
  recorded_at: Fri, 03 Apr 2015 18:39:10 GMT
recorded_with: VCR 2.9.3
