---
http_interactions:
- request:
    method: post
    uri: http://testco.dev.montagehot.club/api/v1/schemas/movies/query/
    body:
      encoding: UTF-8
      string: '{"filter":{"title":"Foo"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"data":[],"cursors":{"previous":null,"next":null}}'
  recorded_at: Mon, 20 Apr 2015 18:39:52 GMT
recorded_with: VCR 2.9.3
