---
http_interactions:
- request:
    method: post
    uri: http://testco.dev.montagehot.club/api/v1/schemas/movies/save/
    body:
      encoding: UTF-8
      string: '[{"studio_id":"19442e09-5c2d-4e5d-8f34-675570e81414","rank":4,"rating":2.0,"title":"The
        Jerk","votes":500,"year":1984}]'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"b9dddf21-a121-4481-86e6-6412fca87f3c","year":1984,"studio_id":"19442e09-5c2d-4e5d-8f34-675570e81414","title":"The
        Jerk","_meta":{"created":"2015-04-18T20:16:52.876Z","modified":"2015-04-18T20:16:52.876Z"},"rank":4,"votes":500,"rating":2}]}'
  recorded_at: Sat, 18 Apr 2015 20:16:54 GMT
recorded_with: VCR 2.9.3
