---
http_interactions:
- request:
    method: post
    uri: http://testco.dev.montagehot.club/api/v1/schemas/movies/save/
    body:
      encoding: UTF-8
      string: '[{"id":"b9dddf21-a121-4481-86e6-6412fca87f3c","studio_id":"19442e09-5c2d-4e5d-8f34-675570e81414","rank":4,"rating":2,"title":"The
        Jerk","votes":600,"year":1984}]'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 500
      message: INTERNAL SERVER ERROR
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta http-equiv=\"content-type\"
        content=\"text/html; charset=utf-8\">\n  <meta name=\"robots\" content=\"NONE,NOARCHIVE\">\n
        \ <title>RqlCompileError at /api/v1/schemas/movies/save/</title>\n  <style
        type=\"text/css\">\n    html * { padding:0; margin:0; }\n    body * { padding:10px
        20px; }\n    body * * { padding:0; }\n    body { font:small sans-serif; }\n
        \   body>div { border-bottom:1px solid #ddd; }\n    h1 { font-weight:normal;
        }\n    h2 { margin-bottom:.8em; }\n    h2 span { font-size:80%; color:#666;
        font-weight:normal; }\n    h3 { margin:1em 0 .5em 0; }\n    h4 { margin:0
        0 .5em 0; font-weight: normal; }\n    code, pre { font-size: 100%; white-space:
        pre-wrap; }\n    table { border:1px solid #ccc; border-collapse: collapse;
        width:100%; background:white; }\n    tbody td, tbody th { vertical-align:top;
        padding:2px 3px; }\n    thead th {\n      padding:1px 6px 1px 3px; background:#fefefe;
        text-align:left;\n      font-weight:normal; font-size:11px; border:1px solid
        #ddd;\n    }\n    tbody th { width:12em; text-align:right; color:#666; padding-right:.5em;
        }\n    table.vars { margin:5px 0 2px 40px; }\n    table.vars td, table.req
        td { font-family:monospace; }\n    table td.code { width:100%; }\n    table
        td.code pre { overflow:hidden; }\n    table.source th { color:#666; }\n    table.source
        td { font-family:monospace; white-space:pre; border-bottom:1px solid #eee;
        }\n    ul.traceback { list-style-type:none; color: #222; }\n    ul.traceback
        li.frame { padding-bottom:1em; color:#666; }\n    ul.traceback li.user { background-color:#e0e0e0;
        color:#000 }\n    div.context { padding:10px 0; overflow:hidden; }\n    div.context
        ol { padding-left:30px; margin:0 10px; list-style-position: inside; }\n    div.context
        ol li { font-family:monospace; white-space:pre; color:#777; cursor:pointer;
        }\n    div.context ol li pre { display:inline; }\n    div.context ol.context-line
        li { color:#505050; background-color:#dfdfdf; }\n    div.context ol.context-line
        li span { position:absolute; right:32px; }\n    .user div.context ol.context-line
        li { background-color:#bbb; color:#000; }\n    .user div.context ol li { color:#666;
        }\n    div.commands { margin-left: 40px; }\n    div.commands a { color:#555;
        text-decoration:none; }\n    .user div.commands a { color: black; }\n    #summary
        { background: #ffc; }\n    #summary h2 { font-weight: normal; color: #666;
        }\n    #explanation { background:#eee; }\n    #template, #template-not-exist
        { background:#f6f6f6; }\n    #template-not-exist ul { margin: 0 0 0 20px;
        }\n    #unicode-hint { background:#eee; }\n    #traceback { background:#eee;
        }\n    #requestinfo { background:#f6f6f6; padding-left:120px; }\n    #summary
        table { border:none; background:transparent; }\n    #requestinfo h2, #requestinfo
        h3 { position:relative; margin-left:-100px; }\n    #requestinfo h3 { margin-bottom:-1em;
        }\n    .error { background: #ffc; }\n    .specific { color:#cc3300; font-weight:bold;
        }\n    h2 span.commands { font-size:.7em;}\n    span.commands a:link {color:#5E5694;}\n
        \   pre.exception_value { font-family: sans-serif; color: #666; font-size:
        1.5em; margin: 10px 0 10px 0; }\n  </style>\n  \n  <script type=\"text/javascript\">\n
        \ //<!--\n    function getElementsByClassName(oElm, strTagName, strClassName){\n
        \       // Written by Jonathan Snook, http://www.snook.ca/jon; Add-ons by
        Robert Nyman, http://www.robertnyman.com\n        var arrElements = (strTagName
        == \"*\" && document.all)? document.all :\n        oElm.getElementsByTagName(strTagName);\n
        \       var arrReturnElements = new Array();\n        strClassName = strClassName.replace(/\\-/g,
       [...]
