---
http_interactions:
- request:
    method: post
    uri: http://testco.dev.montagehot.club/api/v1/schemas/movies/save/
    body:
      encoding: UTF-8
      string: '[{"id":"69cc93af-1f0e-43bc-ac9a-19117111978e","studio_id":"54535b2e-cf80-4abb-8bd9-8429e55d173a","rank":4,"rating":2,"title":"The
        Jerk","votes":600,"year":1984}]'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - POST, OPTIONS
    body:
      encoding: UTF-8
      string: '{"data":[{"votes":600,"_meta":{"modified":"2015-04-20T18:39:50.095Z","created":{"modified":"2015-04-20T18:39:47.751Z","created":"2015-04-20T18:39:47.751Z"}},"rating":2,"year":1984,"id":"69cc93af-1f0e-43bc-ac9a-19117111978e","title":"The
        Jerk","rank":4,"studio_id":"54535b2e-cf80-4abb-8bd9-8429e55d173a"}]}'
  recorded_at: Mon, 20 Apr 2015 18:39:50 GMT
recorded_with: VCR 2.9.3
