---
http_interactions:
- request:
    method: post
    uri: http://testco.dev.montagehot.club/api/v1/schemas/movies/documents/215400e4-1566-4b96-aee0-1d6992ee4223/
    body:
      encoding: UTF-8
      string: '{"studio_id":"19442e09-5c2d-4e5d-8f34-675570e81414","rank":4,"rating":2.0,"title":"The
        Jerk","votes":600,"year":1984}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token fb761e07-a12b-40bb-a42f-2202ecfd1046
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, POST, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"year":1984,"rank":4,"studio_id":"19442e09-5c2d-4e5d-8f34-675570e81414","rating":2,"_meta":{"modified":"2015-04-03T19:45:07.248Z","created":"2015-04-03T18:53:26.710Z"},"updated_at":null,"title":"The
        Jerk","votes":600,"id":"215400e4-1566-4b96-aee0-1d6992ee4223"}}'
  recorded_at: Fri, 03 Apr 2015 19:45:07 GMT
recorded_with: VCR 2.9.3
